.DS_Store
.tmp/
defaults-export/
.defaults-snapshots/
Brewfile.lock.json
dotfiles/vscode/Library/Application\ Support/Code/*
!dotfiles/vscode/Library/Application\ Support/Code/User/
dotfiles/vscode/Library/Application\ Support/Code/User/*
!dotfiles/vscode/Library/Application\ Support/Code/User/settings.json
